h1{
  color: #ffffff;
  background-color: #f2d852;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.recipe-list{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

